.footer {
  flex:1;
  color: white;
  background-color: black;
  height: 30%; width: 100%;
  border-top: 10px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
}