.footer {
  flex:1;
  color: white;
  background-color: black;
  height: 5vh; width: 100%;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
}