.title {
    transform: rotateZ(270deg);
    position: absolute;
    top: 23%;
    left: 0%;
    /* right:55%; */
    margin: 0%;
    padding: 0%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px right solid black;
}

.title_m {
    transform: rotateZ(270deg);
    position: absolute;
    top: 22%;
    right: 55%;
    margin: 0%;
    padding: 0%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 2px right solid black;
}

.normal_color {
    color: black;
  }
  