.post_text {
    color: white;
    width: 45%;
    height: 100%;
    padding: 0% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.post_break_line {
    margin: 0%;
    padding: 0%;
    /* line-height: 40%;     */
}

.post_column {
    padding: 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 4%;
}

.post_container {
    width: 50vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    gap: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.post_date {
    font-family: Roboto;
    font-size: medium;
    position: absolute;
    bottom: 0;
    left: 0;
    color: lightgrey;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0%;

}

.post_description {
    font-family: Roboto;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_title {
    color: white;
    font-family: Playfair Display;
    font-size: x-large;
    margin: 0%;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_img_container {
    /* border: 1mm solid; */
    width: 50%;
    height: 100%;
    position: relative;
}

.normal_color {
    color: black;
}

.inverted_color {
    color: white;
}