/* a:link, a:visited, a:hover, a:active { text-decoration: none; } */

a:link { text-decoration: none; color:white;}

a:visited { text-decoration: none; color:white;}

a:hover { text-decoration: none; }

a:active { text-decoration: none; color:white;}

text {
    color: white;    
}

h1 {
    color: white;
}

h2 {
    color: white;
}

li {
    color:white;
    font-size: 200%;
    margin-right: 20%;
}

.body {
    flex:1;
    background-color: black;
}

.contacts {
    justify-content: flex-end;
    display: flex;
    margin-right: 9%;
    gap:1%;
}

/* .mainpg {

} */

.intro_list {
    text-align: left;
    padding-left: 10%;
}

.intro_sentence {
    text-align: left;
}

.main {
    flex:1;
    background-color: black;
}

.layout {
    flex: content;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    overflow:hidden;
    white-space: nowrap;
    justify-content: space-around;
    gap: 2%;
}

/* .page {
    flex:1;
} */

.profile-pic {
    border-radius: 45%;
    overflow:hidden;
 }