/* a:link, a:visited, a:hover, a:active { text-decoration: none; } */

a:link { text-decoration: none; color:white;}

a:visited { text-decoration: none; color:white;}

a:hover { text-decoration: none; }

a:active { text-decoration: none; color:white;}

text {
    color: white;    
}

h1 {
    color: white;
}

h2 {
    color: white;
    font-size: 2vh;
}

td {
    color:white;
}

li {
    color:white;
    font-size: 200%;
    margin-right: 20%;
}

.body {
    flex:1;
    background-color: black;
}


.intro {
    width: 50%;
    margin: 0 auto;
    /* justify-content: center;
    justify-items: center; */
}    

.intro_list {
    text-align: left;
    padding-left: 10%;
}    

.intro_sentence {
    text-align: left;
}    

.main {
    background-color: black;
    /* height: max-content; */
    height: 80vh;
}    

.layout {
    flex: content;
}    

.page {
    flex:1;
    justify-items: center;
    align-items: center;
}

.profile-pic {
    border-radius:45%;
    overflow:hidden;
}

.profile_pic_container {
    width: 20%;
    margin: 0 auto;
    padding: 2%;
}

.table-cell {
    border: solid white 2px;
    height:100%;
    width: 100%;
}